body{ 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;

}
.navbar li{
    display:inline-flex;
    padding-right: 30px;
}
.navbar a{
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: 800;
    width: 100px;
    display: block;
    padding: 15px 10px;
    font-size: 20px;
}
.navbar :hover a{
    display: block;
    color: beige;
}
.navbar{
    float: right;
    padding-left: 10px;
}
.image1 {
    position: relative;
    width:50%;
    
}
.image{
    
    opacity: 0.7;
    display: block;
    width: 70%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    
}
.middle {
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
        transition: .5s ease;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
       
      }
.image1:hover .image{
    opacity:0.1;
}
      
.image1:hover .middle {
        opacity: 0.4;
    }
.text{
    color: black;
    font-size: 40px;
    font-weight: 1000;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position:fixed;
    top: 50%;
    left: 50%;
    padding-left: 30px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.about{
    width: 100%;
    padding: 78px 0px;
    background-color: #5f6446;
}
.about img{
    height: auto;
    width: 420px;
}
.about-text{
    width: 250px;

}
.main{
    width: 1130px;
    max-width: 95%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content:space-around ;
}
.about-text h2{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color:white;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.about-text p{
    color: rgba(152, 253, 139, 0.8);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background: rgb(2, 99, 67);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
}
button:hover{
    background-color: transparent;
    border: 2px solid rgb(55, 129, 111) ;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px){
    .navbar ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c2c2c;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .navbar ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .navbar ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
        background: none;
        color:#5f6446
    }
    #check:checked ~ ul{
        left: 0;
    }
}
/*@media screen and (min-width : 768px){
    section{
        padding:1em 3em;
    }
    .main{
        flex: 0 0 33.33;
        max-width: 33.33%;
    }
}
@media screen and (min-width: 992px) {
    section{
        padding: 1em 3em;
    }
    .main{
        flex: 0 0 33.33;
        max-width: 33.33%;
    }
}

