 body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 }
 .navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;

}
.navbar li{
    display:inline-flex;
    padding-right: 30px;
}
.navbar a{
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: 800;
    width: 100px;
    display: block;
    padding: 15px 10px;
    font-size: 20px;
}
.navbar :hover a{
    display: block;
    color: beige;
}
.navbar{
    float: right;
    padding-left: 10px;
}
 .container{
    width:900px;
    max-width: 90vh;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
 }

 svg{
    width:30px;
 }
 header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    padding-top: 10%;
    padding-right: 40%;
    font-size: larger;
    font-weight:bolder;
 }
 header .icon span{
    display: block;
    width: 30px;
    height: 30px;
    background-color: brown;
    justify-content: center;
    align-items: center;
    color: seagreen;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    right:-20px;
 }
 .listproducts .item img{
    width:90%;
    filter: drop-shadow(0 50px 20px #0009);
 }
 .listproducts{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
 }
 .listproducts .items{
    background-color: rgb(176, 245, 206);
    padding: 20px;
    border-radius: 20px;
}
.listproducts .item h2{
    font-weight: 500;
    font-size: large;

}
.listproducts .item .price{
    letter-spacing: 7px;
    font-size: small;
}
.listproducts .item button{
    background-color: rgb(32, 17, 17);
    color: beige;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}
.cartTab{
    width: 400px;
    background-color: grey;
    color: beige;
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1ffr 70px;
    transition:  .5s;
}
 body .showcart .cartTab{
    inset: 0 0 0 auto;
 }
 body .showcart .container{
    transform: translate(-250px);
 }
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
.cartTab .btn button{
    background-color: yellow;
    border: none;
    font-family: poppins;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .btn .close{
    background-color: antiquewhite;
}
.cartTab .listcart .item img{
    width: 100%;

}
.cartTab .listcart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listcart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: beige;
    color: #555;
    border-radius: 50%;
    cursor: pointer;
}
.listcart .quantity span:nth-child(2){
    background-color: transparent;
    color: beige;
}
.listcart .item:nth-child(even){
    background-color: #eee1;
}
.listcart{
    overflow: auto;
}
.listcart::-webkit-scrollbar{
    width: 0;
}

